.home-photo {
    width: 1250px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 60px;
  }
  .alumni-section {
    clear: both;
    margin-top: 20px; 
  }
  .nav-tabs > li > a {
    font-size: 20px !important; 
  }
  .tab-content {
    margin-top: 20px;
  }
  .team-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
  }
  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .team-name {
    font-weight: bold;
    text-align: center;
  }
  .gif-container {
    display: flex;
    justify-content: center;
    flex-direction: column; 
    align-items: center; 
  }
  .navbar {
    display: flex;
    justify-content: center;
  }
  .main-header .navbar {
    background-color: #333;
  }
  #ResearchHeading {
    font-size: 30px;
    font-weight: bold;
    color: lightblue;
  }
  .lab-resources-content a {
    font-size: 25px;
    color: blue;
  }
  #LabResourcesHeading {
    font-size: 40px;
    font-weight: bold;
    color: lightblue;
  }
  .lab-resources-content:before {
    content: '\2022'; 
    margin-right: 10px; 
    font-size: 30px; 
  }
  
  #logo-container {
    position: absolute;
    top: 0px;
    right: 0px;
    max-height: 50px;
  }